body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: darkgreen;
  background-image: url("../images/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
 }

a {
  color: #00b7ff;
  }

h1 {
  color: 15px;
}

.hero {
text-align: left;
}

h2 {
  color: darkgreen;
}