<h2>Product page</h2>

<form method="POST" action="/products/create">
 <h2>{{this.title}}</h2>
 <p>Description: {{this.description}} <br /></p>
 <p>Price: {{this.price}} Eur <br /></p>

 <a href="/products">Back</a>
 </form>


       
            
            
        